#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
};

&mt {
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
};

&trackball {
    automouse-layer = <5>;
    scroll-layers = <6>;
};

/ {
    macros {
        release_mods: release_mods {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_release &kp LSHFT &kp LCTRL &kp LALT &kp LGUI &kp RSHFT &kp RCTRL &kp RALT &kp RGUI>;
        };
    };

    behaviors {
        hm: home_row_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-on-release;
        };
    };

    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESC>;
            key-positions = <11 12>;
            timeout-ms = <50>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        kana {
            bindings = <&kp LANG1>;
            key-positions = <12 13>;
            timeout-ms = <50>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        eisu {
            bindings = <&kp LANG2>;
            key-positions = <18 19>;
            timeout-ms = <50>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        unstuck {
            bindings = <&release_mods>;
            key-positions = <34 42>;
            timeout-ms = <50>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        fun_layer {
            if-layers = <1 2>;
            then-layer = <4>;
        };

        config_layer {
            if-layers = <6 1>;
            then-layer = <7>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
&kp Q        &kp W      &kp E       &kp R        &kp T                                          &kp Y      &kp U  &kp I      &kp O    &kp P
&hm LCTRL A  &hm LALT S &hm LSHFT D &hm LGUI F   &kp G        &none            &kp SEMI        &kp H      &kp J  &kp K      &kp L    &kp MINUS
&mt LSHFT Z  &kp X      &kp C       &kp V        &kp B        &kp SQT          &kp FSLH        &kp N      &kp M  &kp COMMA  &kp DOT  &lt 3 EQUAL
&kp GRAVE    &kp LCTRL  &kp LALT    &lt 1 TAB    &lt 6 SPACE  &mt LGUI ESC     &kp BACKSPACE   &lt 2 ENTER                            &kp BSLH
            >;

            sensor-bindings = <&inc_dec_kp PG_DN PG_UP>;
        };

        NUM {
            bindings = <
&kp N7   &kp N8   &kp N9   &trans      &trans                                    &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT
&kp N4   &kp N5   &kp N6   &kp ASTRK   &kp FSLH   &trans          &kp UNDER    &kp LPAR   &kp RPAR   &kp LBKT   &kp RBKT   &kp CARET
&kp N1   &kp N2   &kp N3   &kp PLUS    &kp MINUS  &kp EQUAL       &kp TILDE    &kp LBRC   &kp RBRC   &kp AMPS   &kp ASTRK  &kp BSLH
&kp N0   &trans   &kp DOT  &trans      &trans     &trans          &kp DEL      &trans                                        &kp PIPE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        TILE {
            bindings = <
&kp LA(N7)  &kp LA(N8)  &kp LA(N9)  &trans      &trans                                    &trans     &trans     &trans     &trans     &trans
&kp LA(N4)  &kp LA(N5)  &kp LA(N6)  &trans      &trans  &trans          &trans             &kp LA(H)  &kp LA(J)  &kp LA(K)  &kp LA(L)  &trans
&kp LA(N1)  &kp LA(N2)  &kp LA(N3)  &kp LA(N0)  &trans  &trans          &trans             &trans     &trans     &trans     &trans     &kp LSHFT
&kp LA(N0)  &trans      &trans      &trans      &trans  &trans          &trans             &trans                                       &trans
            >;

            sensor-bindings = <&inc_dec_kp LA(O) LA(I)>;
        };

        NAV {
            bindings = <
&trans        &trans      &trans       &trans       &trans                                    &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &kp INS
&hm LCTRL A   &hm LALT S  &hm LSHFT D  &hm LGUI F  &trans  &trans          &trans           &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans
&trans        &trans      &trans       &trans       &trans  &trans          &trans           &trans    &trans     &trans     &trans     &trans
&trans        &trans      &trans       &trans       &trans  &trans          &kp DEL          &trans                                     &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PG_DN) LC(PG_UP)>;
        };

        FUN {
            bindings = <
&kp F7  &kp F8  &kp F9  &trans   &trans                                       &trans        &trans        &trans        &trans      &trans
&kp F4  &kp F5  &kp F6  &kp F11  &kp F12  &trans          &trans              &trans        &kp RSHFT     &kp RCTRL     &kp RALT    &kp RGUI
&kp F1  &kp F2  &kp F3  &kp F10  &trans   &trans          &kp PSCRN           &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE    &kp C_PREV  &kp C_NEXT
&trans  &trans  &trans  &trans   &trans   &trans          &trans              &trans                                                 &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB2  &mkp MB3  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        CONFIG {
            bindings = <
&trans  &trans  &trans  &trans  &trans                             &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans  &trans  &trans      &trans         &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans      &bootloader    &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans  &trans  &trans  &trans  &trans      &trans         &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
